#root {
  width: 80%;
  margin: 0 auto;
  padding: 7rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 210mm;
  gap: 2em;
}
#inputs {
  border-radius: 25px;
  width: 100%;
  height: fit-content;
  background-color: white;
  justify-self: end;
  color: black;
}
