#root {
  width: 100%;
  margin: 0 auto;
  padding: 7rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 210mm;
}
@media print {
  body {
    visibility: hidden;
  }
  #file {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }
}
@page {
  size: auto;
  margin: 0mm;
}
