form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  border: solid 2px whitesmoke;
  place-self: center;
}

input,
textarea,
label {
  width: 50%;
}
.input {
  display: flex;
  justify-content: end;
  padding: 0 1em;
}
form > button {
  border: solid 1px whitesmoke;
  width: 70%;
  align-self: center;
}
