#preview {
  height: 100%;
  display: flex;
  justify-content: center;
}
#file {
  background-color: white;
  color: black;
  width: 210mm;
  height: 297mm;
}
.border {
  border-bottom: solid 2px black;
}
#contact-info {
  display: flex;
  justify-content: start;
  gap: 2em;
  padding: 0 2em;
}
/* Cards */
#heading {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: fit-content;
}
#school {
  padding: 0.1rem 0;
}
#date {
  grid-column: 1/2;
}
.sectionTitle {
  text-align: start;
  padding: 0 3em;
}
